@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

#searchbutton svg {
  height: 1.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: antiquewhite;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto;
  width: min(32rem, 100%);
  gap: 2.5rem;
  min-height: 100%;
  align-items: center;
}

.searcharea {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 0.5rem;
}

.current-location {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.today {
  display: grid;
  grid-template-rows: 3.5rem 2rem 2rem 2rem;
}

.current-temperature {
  font-size: 1.5rem;
}

.today p, .today span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.today span svg {
  height: 1.1rem;
  margin: 0 0.5rem;
}

.forecast {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tomorrow {
  display: grid;
  grid-template-rows: 3.5rem 2rem 2rem;
}

.tomorrow p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.day-one, .day-two {
  font-size: 1.5rem;
}

#location {
  width: 75%;
  padding: 0.5rem 1.1rem;
  border-radius: 2rem;
  border: 0;
  font-size: 1.1rem;
}

#searchbutton {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

#togglebutton {
  padding: 0 0.5rem;
}
